html {
	background-color: #555555;
}
.menu {
	position: fixed;
	width: 100%;
	top: 0px;
	box-shadow: 0 4px 7px rgba(10, 10, 10, 0.1);
}
.menu, .nav {
	height: 50px;
	background: #363e3e none repeat scroll 0 0;
	z-index: 2;
}
body.day {
	background-attachment: fixed;
	background-image: url("../images/background2.jpg"), url("../images/background2.jpg");
	background-position: left top, right top;
	background-repeat: no-repeat;
	background-size: 50% 100%;
}
body.day input {
	background-color: #fafafa;
}
body.day .body.container {
	background-color: #f3f3f3;
}
body.day .text-line span {
	background: #f3f3f3;
}
body.day .menu-popup .detail{
	background-color: #f3f3f3;
}
@media screen and (max-width: 768px) {
	body.day .nav-menu.is-active {
		background-color: #f3f3f3;
	}
}
.body {
	margin-top: 50px;
}
.body.container {
	border: 1px solid #868e8e;
}
.title-name {
	padding-top: 2px;
	text-align: left;
}
.title-name h1, .title-name h2 {
	font-weight: bold;
	color: #fff;
}
.nav-left {
    min-width: 236px;
	flex-grow: 0;
}
@media screen and (max-width: 769px) {
	.nav-left {
		flex-grow: 1;
	}
}
.nav-right p{
	min-width: 300px;
	flex-shrink: 1;
  	width: 100%;
}
.nav-right p.control{
	margin-bottom: 0rem;
}
@media screen and (max-width: 769px) {
	.nav-right p.control.has-icon .icon {
		top: 1.8rem;
		left: 1.9rem;
	}
}
.nav-menu {
  padding-right: 0rem;
}
.nav-center, .nav-center .nav-item{
  flex-grow: 1;
}
.menu input{
	height: 30px;
}
.menu select{
	height: 28px;
}
#birthday-s {
	height: 30px;
}
.nav-center span {
    margin-top: 5px;
}
.nav-right .control.has-icon .icon {
   top: 1.7rem;
   right: 1.9rem;
}
body.day .nav a.nav-item{
   color: #fff;
}
body.day .nav a.nav-item:hover {
   color: #ddd;
}
.nav-item .is-hidden-tablet-only{
	text-indent: 2px;
}
@media screen and (max-width: 768px) {
	body.day .nav-item .is-hidden-tablet-only{
		text-indent: 27px;
	   	color: #363e3e;
	}
	body.day .nav-item .is-hidden-tablet-only:hover {
	   color: #565e5e;
	}
}
.nav-toggle:hover{
	background-color: #565e5e;
}
.nav-toggle span {
    height: 3px;
	width:20px;
	margin-left: -10px;
	background-color: #fff;
	border-radius: 3px;
}
.nav-toggle span:nth-child(1) {
    margin-top: -7px;
}
.nav-toggle span:nth-child(3) {
    margin-top: 5px;
}
.nav-toggle.is-active span {
    background-color: #fff;
}
.nav-toggle.is-active span:nth-child(1) {
	margin-top: -8px;
    margin-left: -6px;
}
.nav-toggle.is-active span:nth-child(3) {
	margin-top: 5px;
    margin-left: -6px;
}
.nav-item {
	justify-content: center;
}
.nav-item, .nav-item input {
	font-size: 1.1rem;
}
.nav-item .fa-sign-in {
	font-size: 1.9rem;
}
.nav-item img {
	max-height: 2.5rem;
}
.btn-notifi {
	position: relative;
}
.num-notification {
	font-size: 0.8rem;
	line-height: 10px;
	padding: 1px;
	height: 18px;
	min-width: 18px;
	position: absolute;
	top: 10px;
	left: 20px;
	color: #fff;
	background-color: #ff3860;
	border: 2px solid white;
	border-radius: 6px;
}
#btn-notifi:hover .num-notification {
   border-color: #ddd;
}
p.nav-item {
	padding: 0rem;
}
.placeholder-center::-webkit-input-placeholder {
   	text-align: center;
}
.placeholder-center:-moz-placeholder { /* Firefox 18- */
   	text-align: center;
}
.placeholder-center::-moz-placeholder {  /* Firefox 19+ */
   	text-align: center;
}
.placeholder-center:-ms-input-placeholder {
   	text-align: center;
}
.control.has-icon .input.is-danger + .icon {
    color: #ff6890;
}
.control.has-icon .icon.show-pass {
	pointer-events:auto;
	cursor: pointer;
}
/*----------------------------------------------------------------------------------------------------------------------------*/
.notifi.menu-popup .arrow-box{
	right: 51px;
}
.notifi .notification.is-info {
	text-align: left;
    padding: 0.6rem;
}
.notifi .notification:not(:last-child) {
    margin-bottom: 0.5rem;
}
.notifi.menu-popup .detail{
	padding: 4px;
}
.login .detail, .register .detail{
	padding: 20px 20px 10px 20px;
	text-align: center;
}
.menu-popup {
	position: absolute;
	top: 50px;
	right: 0px;
	color: #363e3e;
	z-index: 90;
	box-shadow: 0 4px 7px rgba(10, 10, 10, 0.1);
}
.menu-popup div.self, .menu-popup div.other {
	margin-bottom: 0.75rem;
}
@media screen and (min-width: 769px) {
	.menu-popup .detail{
		width: 284px;
		border: 2px solid #999;
		border-radius: 6px;
	}
}
@media screen and (max-width: 768px) {
	.menu-popup{
  	  width: 100%;
    }
}
.menu-popup .head {
    font-size: 1.3rem;
	font-weight: bold;
}
.menu-popup .center {
    text-align: center;
}
.menu-popup .button{
   	width: 100%;
	margin-bottom: 0.75rem;
}
.menu-popup a{
   	color:#363e3e;
}
.menu-popup a:hover{
   	color:#707b7b;
}
@media screen and (min-width: 769px) {
	.menu-popup .arrow-box{
		right: 11px;
	}
	.menu-popup .arrow-box{
		content: "";
		width: 24px;
		height: 12px;
		position:absolute;
		overflow: hidden;
	}
	.menu-popup .arrow-box.up{
		top: -10px;
	}
	.menu-popup .arrow-show{
		content: "";
		position: relative;
		width: 18px;
		height: 18px;
		top: 3px;
		left: 3px;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
		border: 2px solid #999;
	}
	.menu-popup .arrow-show{
		background-color: #f3f3f3;
	}
	.div-show-tooltip .arrow-show.up{
		top:-7px;
	}
	.div-show-tooltip .arrow-show.down{
		top:7px;
	}
}
.control.has-icon .icon {
	top: 1.1rem;
}
.control.text-line {
	width:100%;
	text-align:center;
	border-bottom: 1px solid #363e3e;
	line-height:0.1em;
	background:#fff;
	margin:10px 0px 20px;
}
.text-line span {
	padding: 0 10px;
}
/*----------------------------------------------------------------------------------------------------------------------------*/
.box-message {
	position: fixed;
	display: table;
	z-index: 100;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.6);
}
.box-message-v span.is-danger{
	font-weight: bold;
	color: #ff3860;
}
.box-message-v {
	display: table-cell;
    vertical-align: middle;
}
.box-message .message{
	display: inline-block;
	width: 230px;
}
.box-message .message-header {
	font-weight: bold;
}
.box-message .message-body{
	text-align: left;
}
.delete {
    font-size: 0.7rem;
}